.home-top-bg {
	background: linear-gradient(219.57deg, #f5ba8d 18.05%, #d14019 119.05%);
}

header {
	background: url('../images/dish-bg.png') no-repeat;
	background-position: 44.4% -590%;
	animation: bgAnimate 0.6s ease;
}

@keyframes bgAnimate {
	from {
		background-position: 44.4% 1060%;
	}

	to {
		background-position: 44.4% -590%;
	}
}

.navigate-btn {
	@apply h-14 bg-my-orange rounded-full font-medium text-2xl text-white py-2 px-8 text-center;
}
