.logo-block {
	background: url('../images/logo.svg') no-repeat;
	animation: 10s logoRotate linear infinite;
}

.logo {
	animation: 10s logo linear infinite;
}

@keyframes logo {
	from {
		rotate: 360deg;
	}
	to {
		rotate: 0deg;
	}
}

@keyframes logoRotate {
	from {
		rotate: 0deg;
	}
	to {
		rotate: 360deg;
	}
}

header {
  background: linear-gradient(200deg, #F5BA8D 2%, #D14019 110%);
}

nav > div > ul > li {
	@apply cursor-pointer font-semibold text-lg text-[#000000a6] hover:text-[#af5d40] hover:shadow-[0_1.5px_0_black] transition hover:transition list-disc uppercase;
}

.basket-navigate-btn {
	background: url('../images/basket.svg');
}
